
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (mobile screens, 768px and down) */
@media only screen and (max-width: 768px) {}

@font-face {
    font-family: "Raleway"; src: url("static/Raleway-Regular.ttf");
    text-decoration: none;
    background-color: transparent;
}

body {
    font-family: "Raleway", sans-serif;
    margin: auto;
    width: 100%;

}

h2 {
    font-size: 1.5em;
}

.bookiheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bookiheader img {
    margin-left: 1%;
    width: 10%;
}

.nav-list {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
}

.nav-list li {
    margin-right: 50px;
    padding: 20px;
    text-decoration: none;

}

.nav-list li a {
    text-decoration: none;
}

/* Search */

.search {
    display: flex;
}

/* Main content - all photos */

.allbookiphotos {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}


/*.img_allbookiphotos {
    object-fit: cover;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    height: 200px;
  }*/

/* Acommodations in Marseille + Most Popular */

.all-accomodations {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

/* Acommodations in Marseille */

.marseille-accommodations {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 60%;
    background-color: #f2f2f2;
    border-radius: 20px;
  }

.marseille-accommodations h2 {
    padding-left: 45px;
  
  }

  #showmore {
      padding-top: 30px;
      padding-left: 40px;
  }

  .hotels_holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

   .hotel1 {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0.205);
}


   .hotel1 img {
    height: 125px;
    width: 280px;
}


/* Most popular */

.most-popular {
    height: 100%;
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.popular-hotels {
   width: 45%;
}

.hotel {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0.205);
    margin: 0px 20px 25px 50px;
    width: 338px;
}

.popular-image {
    height: 100px;
    width: 70px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.image {
   width: 100%;
   border-radius: 20px 20px 0px 0px;
   
}

  .most-popular h2 {
    padding-top: 2px;
    padding-left: 32px;
  }

  .most-popular img {
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    height: 140px;
    width: 200px;
  }

  .popular-image img {
      margin-right: 15px;
      float: left;
  }

  .popular-image h2 {
      margin-left: 15px;
      display: block;
      margin: 2px 0 0 0;
  }

  .checked {
    color: blue;
  }

  .price {
    margin-left: 10px;
  }



/*Activities in Marseille*/

.activities-holder {

}

.activities-holder h2 {
    padding-left: 30px;
}

.activities-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 45px;
    justify-content: center;

}

.photo-portrait {
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

.photo-landscape {
    object-fit: cover;
    height: 210px;
    width: 420px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.act_box_big {
    background-color: white;
    box-shadow: 1px 1px 5px #f2f2f2; 
    border-radius: 25px;
    height: 100%;
}

.act_box_big img {
    background-color: white;
    object-fit: cover;
}

.act_box_small_holder {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.act_box_small {
    height: 30%;
    background-color: white;
    box-shadow: 1px 1px 5px #f2f2f2;
    border-radius: 25px;
}

.name-activity {
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 20px;
    width: 100%;
}

.name-activity h2 {
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 30px;
    width: 100%;
}




/*.topnav input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 20px;
    border: 20px;
    font-size: 17px;
}


