@font-face {
    font-family: "Raleway"; src: url("static/Raleway-Regular.ttf");
    text-decoration: none;
    background-color: transparent;
}

/*Responsive layout*/


/* Large devices (laptops and desktops, 992 and up) */
@media only screen and (min-width: 992px) {
    .bookiheader img {
        flex-grow: 1;
    }

    .footer-holder {
        flex-wrap: wrap;
    }
}

/* Medium devices (tablets - 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .all-accomodations {
        flex-direction: row-reverse;
    }

    .most-popular {
        order: 1;
        min-width: 700px;
    }

    .marseille-accommodations {
        order:2;
        min-width: 700px;

    }

    .activities-holder {
        min-width: 700px;
        margin-right: 2%;
        margin-left: 2%;
    }

    .filters-holder{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 700px;
        margin-left: 6%;
    }

    .hotel {
        min-width: 500px;
    }

    .filters {
        flex-wrap: wrap;
        justify-content: flex-start;
        min-width: 680px;
        gap: 2px;
    }

    .bookiheader img {
        flex-grow: 0.1;
    }

    .footer-holder {
        flex-wrap: wrap;
    }

}


/* Small devices (mobile screens, 768px and down) */
@media only screen and (max-width: 768px) {
	.all-accomodations {
        flex-direction: row-reverse;
    }

    .most-popular {
        order: 1;
        min-width: 500px;
    }

    .marseille-accommodations {
        order:2;
        min-width: 500px;

    }

    .hotel {
        min-width: 400px;
    }

    .hotel1 {
        min-width: 400px;
    }

    .filters-holder{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 400px;
        margin-left: 6%;
    }

    .filters {
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: flex-start;
        min-width: 400px;
        gap: 2px;
    }

    .filters h3 {
        margin: 1px;
    }

    .bookiheader {
        flex-wrap: wrap;
        margin-left: 2px;
    }

    .bookiheader li {
        width: 50%;
    }

    .bookiheader img {
        flex-grow: 0.1;
    }

    .nav-list {
        border-bottom: solid #f2f2f2;
        width: 100%;
        padding-bottom: 10px;
    }

    .nav-list li a:hover {
        align-items: flex-end;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 10px;
    }

   .accomodations {
        padding-left: 30%;
        padding-right: 30%;
        margin-top: 10px;
    }

    .activities {
        padding-right: 40%;
        padding-left: 40%;
        margin-top: 10px;
    }


    .footer-holder {
        flex-direction: column;
    }

    .activities-holder h2 {
        margin-left: 20%;
    }

    }




/* Page */

body {
    display: block;
    margin: 10px;
    max-width: 1920px;
}

.header-holder {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bookiheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookiheader img {
    margin-left: 6%;
    width: 10%;
    padding-top: 2%;
}

.nav-list {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.nav-list li {
    margin-right: 10%;
    padding-left: 2%;
    
}

.nav-list a {
    padding-top: 5%;
}

.accomodations {
    color: blue;
}

.activities {
    color: black;
}

.nav-list li a {
    text-decoration: none;
}

.dreamvacation {
    margin-left: 6%;
    line-height: 50%;
    font-size: 12px;
}

.dreamvacation p {
    font-size: 16px;
}
/* Search bar */

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid #f2f2f2;
    margin-left: 6%;
    height: 55px;
    Width: 400px;
    border-radius: 20px;
}

.search .fa-map-marker-alt {
    padding-top: 10px;
}

.small-icon {
    width: 41px;
    height: 40px;
    background-color: #f2f2f2;
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    padding-top: 10px;
}

.search input {
    width: 220px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-align: center;
}

.search button {
    width: 200px;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Filters Low cost Family-friendly Romantic Pets allowed*/


.filters {
    display: flex;
    align-items: center;
    gap: 30px;
}

.filters-holder {
    display: flex;
    align-items: center;
    margin-left: 6%;
}

.filters i {
    color: blue;
    padding: 16px;
    background-color: #DEEBFF;
    border-radius: 20px;
}

.filters .fa-child {
    padding-left: 18px;
    padding-right: 18px;
}

.filters-holder h2 {
    font-size: 20px;
    margin-right: 2%;
}

.filters h3 {
    border: 2px;
    border-color:#f2f2f2;
    border-style: solid;
    border-radius: 20px;
    padding-right: 20px;
    font-size: 16px;
}

/* Info - more than 500 accommodations available in this city */

.info {
    margin-left: 6%;
}

.info i {
    border: 2px;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 25px;
    color: blue;
    padding: 8px 13px 8px 13px;
    margin-right: 15px;
}

/* Main content - all photos */

.allbookiphotos {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}


.img_allbookiphotos {
    object-fit: cover;
    width: 100%;
  }

/* Accommodations in Marseille + Most Popular */

.all-accomodations {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

/* Accommodations in Marseille */

.marseille-accommodations {    
    width: 60%;
    background-color: #f2f2f2;
    border-radius: 20px;
  }

.marseille-accommodations h2 {
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 4%;
  }
  

#showmore h3{
      padding-bottom: 2%;
      padding-top: 2%;
      padding-left: 6%;
      text-decoration: none;

}

  .hotels_holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

   .hotel1 {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 1px #c7c7c7;
    width: 280px;
    overflow: hidden;
}

   .hotel1 img {
    object-fit: cover;
}

.image {
    height: 140px;
}

.marseille-accommodations img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}


.best-hotels1 figcaption{
    position: absolute;
    background-color: white;
    width: 100%;
    position: absolute;
}

.review-hotel a {
    text-decoration: none;
    color: black;
}

.best-hotels1 {
    line-height: 10px;
}


/* Most popular */

.most-popular {    
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 20px;
}


.popular-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.hotel {
    position: relative;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 1px #c7c7c7;
    margin: 0px 20px 25px 20px;
    width: 340px;
    height: 180px;
    overflow: hidden;
    background-color: white;
}

.popular-image {
    height: 180px;
    position: relative;
}

.best-hotels figcaption{
    float: right;
    width: 60%;
    height: 100%;
    position: absolute;
    background-color: white;
}

.image {
   width: 100%;
   border-radius: 20px 20px 0px 0px; 
}

  .most-popular h2 {
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .text-icon {
      display: flex;
      align-items: baseline;
  }

  .most-popular i {
      font-size: 30px;
      padding-left: 32%;
  }

  .most-popular img {
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    float: left;   
    width: 40%;
  }


  /* Name of the hotels, price and stars */

  .best-hotels1 {
    margin-left: 5%;
  }

  .best-hotels figcaption {
    margin-left: 45%;
    position: absolute;
    height: 100%;
    width: 60%;
}

  .checked {
    color: blue;
  }

  .unchecked {
      color: grey;
  }

 .best-hotels {
    padding-left: 45%;
}

.name-hotel a {
  text-decoration: none;
  color: black;
}





/*Activities in Marseille*/

.activities-holder h2 {
    padding-left: 6%;
    padding-top: 3%;
}

.activities-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 45px;
    justify-content: center;

}

.photo-portrait {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

.photo-landscape {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.act_box_big {
    background-color: white;
    box-shadow: 1px 1px 5px #f2f2f2; 
    border-radius: 25px;
    height: 100%;
}

.act_box_big img {
    background-color: white;
    object-fit: cover;
    height: 460px;
    width: 380px;
}

.act_box_small_holder {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.act_box_small {
    height: 30%;
    background-color: white;
    box-shadow: 1px 1px 5px #f2f2f2;
    border-radius: 25px;
}

.act_box_small img {
    object-fit: cover;
    height: 170px;
    width: 370px;
}

.name-activity {
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 20px;
    width: 100%;
}

.name-activity h2 {
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 30px;
    width: 100%;
}

/*footer */


.footer-holder{
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
    width: 100%;
    gap: 10%;
    background-color: #f2f2f2;
    padding-bottom: 2%;
}

.info-site {
    padding-top: 20px;
    margin-left: 6%;
}

.info-site li a{
    text-decoration: none;
    color: black;
}

.info-site ul {
    list-style-type: none;
    line-height: 30px;
}

#about {
    margin-left: 35px;
}

#our-accommodations {
    margin-left: 35px;
}

#assistance {
    margin-left: 35px;
}
   



